*{
  margin:0;
}

.app{
  background-color: #fafafa;
}

.app_headerImage{
  object-fit: contain;
  height:50px;
  width:150px;
}

.app_header{
  position: sticky;
  top:0;
  z-index: 1;
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
}

.app_signup{
  display:flex;
  flex-direction: column;
}

.app_posts{
  display:flex;
  flex-direction:column;
  padding:20px;
}

.app h3{
  text-align: center;
  margin-bottom: 20px;
}